@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --background: #121212;
  --text: #7c879c;
  --link: #a9b9d6;
  --sidebar: #1e2031;
  --color1: #30aaec;
  --color2: #ed9557;

}

body {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 12rem auto;
  grid-template-areas: "header header" "sidebar content";
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--background);
  color: var(--text);
}

h1 {
  margin: 1rem auto;  
  color: var(--color1);
}

h2 {
  margin: 0rem auto auto;
  color: var(--color2);
}

p {
  margin: 0.2rem 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--color1);
}

.form-object {
  margin: 0.5rem 0rem;
}

.sidebar-header {
  color: var(--color2);
}

.text-input {
  background-color: none;
  outline: none;
  background-color: var(--sidebar);
  border: none;
  border-bottom: solid 3px var(--color1);
  color: var(--color1);
  font-family: 'JetBrains Mono', monospace;
}

.output {
  color: var(--color2);
}

#header {
  grid-area: header;
  margin: auto 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header h1 {
  text-align: center;
}


#sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

#form-wrapper {
  margin: 1rem auto;
  padding: 0.3rem 1.5rem 1rem;
  border-radius: 0.8rem;
  background-color: var(--sidebar);
}

#form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#dollars {
  width: 4rem;
}

#remaining-value-wrapper {
  color: var(--color1);
}

#excludeDays {
  width: 1.5rem;
}

#submit {
  background-color: var(--color1);
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-family: 'JetBrains Mono', monospace;
}

#submit:hover {
  background-color: var(--color2);
}

#submit:active {
  background-color: var(--link);
}

#content {
  grid-area: content;
  margin: 1rem;
}

#results {
  display: none;
}

#results p {
  margin: 1rem 0;
}

#result-dollars {
  color: var(--color1);
}

#made-by {
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
  opacity: 0.7;
}

#error {
  color: var(--color2);
}

@media (min-width: 1000px) {
  body {
    margin: auto 20%;
  }
}
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }
}